# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data
data/raw/
data/processed/
# data/features/  <-- Un-commented so features are uploaded
# data/models/    <-- Kept un-commented so models are uploaded

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Streamlit
.streamlit/secrets.toml
